{% extends 'base.html.twig' %}

{% block title %}
    {{ serie.name }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{ serie.name }}</h2>
    <p>{{ serie.overview }}</p>
    <p>{{ serie.vote }}</p>
{% endblock %}



